[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

twisted = { git = "https://github.com/twisted/twisted.git", ref="9384-remove-async-param" }
bleach = "*"
scrapy = "*"
"bs4" = "*"
parsedatetime = "*"
icalendar = "*"
pytz = "*"
schedule = "*"
requests = "*"
raven = "*"


[dev-packages]

