[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

bleach = "*"
scrapy = "*"
"bs4" = "*"
parsedatetime = "*"
icalendar = "*"
pytz = "*"
schedule = "*"
scrapy-sentry = "*"


[dev-packages]

